@model Chicken.Web.Models.MainViewModel

@{
    Layout = "~/Views/Shared/_Navbar.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-left menu">
        <li>
            <a href="javascript:void();" id="suggest-post-link">+ Предложить историю</a>
        </li>
    </ul>
}

<ul class="nav navbar-nav navbar-right menu">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            @Model.GroupsSelectList.Single(x => x.Selected).Text<span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            @foreach (var group in Model.GroupsSelectList)
            {
                <li>
                    <a href="@Url.RouteUrl("main", new { group = group.Value })">@group.Text</a>
                </li>
            }
        </ul>
    </li>

    @Html.Partial("~/Views/Main/AccountBar.cshtml")
</ul>

<form class="navbar-form navbar-right" method="get" action="/@Model.CurrentGroup">
    <div class="input-group">
        <span class="input-group-addon">
            <i class="glyphicon glyphicon-search"></i>
        </span>
        @Html.TextBox("search", Model.Keyword, new { @class = "form-control", placeholder = "Введите имя..." })
    </div>
</form>

<ul class="nav navbar-nav navbar-right menu">
    <li>
        <a href="/@Model.CurrentGroup/top" class="@(ViewBag.IsTop != null ? "active" : string.Empty)">ТОП-30</a>
    </li>
</ul>

